.Footer {
  display: flex;
  justify-content: center;
  background-color: #d6c6ad;
  line-height: initial;

  //iconu keitimas neiskraipant foto rezoliucijos
  svg {
    padding: 10px;
    font-size: 50x;
    color: black;
    transition: color 0.2s linear;

    &:hover {
      color: #989595;
    }
  }
}
