hr {
  width: 100%;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.Header {
  margin: 20px;
  position: relative;

  h1 {
    font-size: 24px;
  }

  &--contact {
    font-weight: 700;

    a {
      text-decoration: none;
      font-weight: 500;
      color: #989595;
    }
  }

  &--profile-pic {
    position: absolute;
    top: 0;
    right: 20px;
    height: 200px;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in;

    &:hover {
      transform: rotate(30deg);
    }
  }

  &--summary {
    width: 30em;
    margin-top: 20px;
  }
}

main {
  .Section {
    min-height: 100px;
    display: flex;
    padding: 10px 0;

    &--left {
      flex: 2;
      padding: 0 20px;
      position: relative;

      h3 {
        text-align: right;
        font-style: italic;
      }

      &:after {
        content: '';
        height: 100px;
        width: 1px;
        position: absolute;
        top: 0;
        right: 0;
        background: #989595;
      }
    }

    &--right {
      flex: 4;
      padding: 0 20px;

      &--job-title {
        display: flex;
        justify-content: space-between;

        span {
          font-size: 14px;
          color: #989595;
          opacity: 0.75;
          font-style: italic;
          padding-left: 25px;
          line-height: 22px;
        }
      }

      p span {
        font-weight: 700;
      }

      div {
        padding-bottom: 15px;
        &:nth-last-child(1) {
          padding-bottom: 0;
        }

        ul {
          padding-top: 10px;
          list-style: disc inside;
        }
      }
    }
  }
}

.Footer {
  display: flex;
  justify-content: center;
  background-color: #d6c6ad;

  //iconu keitimas neiskraipant foto rezoliucijos
  svg {
    padding: 10px;
    font-size: 50x;
    color: black;
    transition: color 0.2s linear;

    &:hover {
      color: #989595;
    }
  }
}
